<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.PublisherMapper">

  <select id="findOne" resultType="Publisher">
    SELECT * FROM publisher WHERE id = #{id}
  </select>
  
   <select id="findOneByTitle" resultType="Publisher">
    SELECT * FROM publisher WHERE id&lt;=8 and title LIKE #{title}
  </select>
  
  <select id="findAll" resultType="Publisher">
    SELECT *
    FROM publisher
  </select>
 
</mapper>
